{# downloadlist/templates/downloadlist/downloadlist.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of annotation downloads</title>
    </head>
    <body>
	
	<a href="/">Back to work</a><br>
        {% render_table table %}
	<br>
	<p>This page lists the download links of all generated annotation sets to date. <br>
           The last generated annotation is listed on top<br>
           Note: If you don't see your annotation set, please click on following link to generate it</p>
	   <a href="/saveannotation">Generate annotation sets</a>
    </body>
</html>
